# Ignore bundler config.
.bundle
vendor/bundle/*

# Ignore database setting.
config/database.yml

# Ignore capistrano files.
Capfile
config/deploy.rb
config/deploy/*

# Ignore all dotfiles.
.[a-z]*

# Ignore all logfiles and tempfiles.
log/*
!log/.keep
tmp/*

**/*~
**/*.bak
**/*.tmp
**/*#
**/$*
**/~$*
